<html>
	<head>
		<title>Signup for FutureSend!</title>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="./static/header.css">
	</head>

	<body>
		{% import "macros/header.html" as header %}
		{{ header.nav(logged_in, username) }}
		<div class="pad">
		<div class="container">
		<h1>Signup for FutureSend!</h1>
		<form action="./signup.php" method="post">
			
			Username:<input type="text" name="username" value="{{username}}">
			<br>
			Password:<input type="password" name="pass" value="">
			<br>
			Confirm Password:<input type="password" name="pass_confirmation" value="">
			<br>
			Email:<input type="text" name="email" value="{{email}}">
			<br>
			<input type="submit">
		</form>
		{% for error in errors %}
			<font color = "red">
				{{error}}<br>
			</font>
		{% endfor %}
		Already have an account? <a href="./login.php">Login here.</a>
		</div>
		</div>
	</body>

</html>