<html>
	<head>
		<title>Verification for FutureSend!</title>
		<script type = "text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="./static/header.css">
	</head>

	<body>
		{% import "macros/header.html" as header %}
		{{ header.nav(logged_in, username) }}
		<div class="pad">
			<div class="container">
				<div class="jumbotron">
					<h1><h1>Welcome to the Verificaiton page</h1></h1>
					<p>{{message}}</p>
					<br>
					{% if "You have successfully verified" not in message %}
						<a href="./signup.php" class="btn btn-primary btn-lg">Signup</a>
					{% endif %}
				</div>
			</div>
		</div>
	</body>

</html>