<html>
	<head>
		<title>Welcome to FutureSend!</title>
		<script type = "text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="./static/header.css">
	</head>

	<body>
		{% import "macros/header.html" as header %}
		{{ header.nav(logged_in, username) }}
		<div class="pad">
		<div class="container">
			<div class="jumbotron">
				<h1>Welcome to FutureSend {{username}}!</h1>
				<p> This website is a tool to send emails to the your futureself.</p>
				<br>
				<a href="./futureEmail.php" class="btn btn-primary btn-lg">Start Sending Emails</a>
			</div>
		</div>
		</div>
	</body>

</html>